/* Website background */
#about {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
}

#skills {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
}

#projects {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 153, 255, 0.1));
}

.wave {
    background: linear-gradient(rgba(0, 153, 255, 0.1), rgba(0, 153, 255, 0.9));
}
/* /Website background */